*{
    margin: 0;
}

.conteinerIndex{
    width: 574px;
    height: 300px;
}

a {
    text-decoration: none;
}

.btnIndex{
    display: flex;
    justify-content: space-around;
}

.btnPlay{
    background-color: yellow;
}

.btnHelp{
    background-color: green;
    
}

.btnHelp a{
    color: aliceblue;
}

.titleNameLevel{
    width: 450px;
    height: 100px;
}

.imgTitleNameLevel{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.conteinerNameLevel{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 100px;
    
}